*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#main{
    height: 100%;
    width: 100%;
    background-color: azure;
}
#page1{
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1485894/pexels-photo-1485894.jpeg);
    background-size: cover;
    position: relative;
}
#side_bar{
    position: fixed;
    top: 40px;
    left: 20px;
    bottom: 20px;
    height: 90vh;
    width: 80px;   
    opacity: 0.5;
    border-radius: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    background: rgba(241,245,249,0.6);
    backdrop-filter: blur(10px);
}
#side_bar:hover{
     transform: translateY(-8px) scale(1.05);
    box-shadow: 
        0 15px 30px rgba(0,0,0,0.25),
        0 0 25px rgba(56,189,248,0.4); /* soft glow */
    background: linear-gradient(
        135deg,
        rgba(47, 68, 77, 0.95),
        rgba(227, 227, 246, 0.95)
    );
}
#nav_icon{
    margin-top: 80px;
      
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;  
    width: 100%;
}

#nav_icon h3{
    font-size: 30px;
    color: #ffffff; 
    cursor: pointer;
    transition: 0.3s;
}
#nav_icon h3:hover{
    color: #019af9;           /* blue */
    transform: scale(1.2);
}
#top_navbar{
    margin-top: 50px;
    margin-left: 120px;
    height: 70px;
    width: 85%;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome h1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f8fafc;
    line-height: 1.3;
    animation: titleFade 1.2s ease-out forwards;
}

.search_box{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 300px;
    height: 45px;

    background: rgba(255,255,255,0.85);
    border-radius: 30px;
    padding: 0 18px;

    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.search_box i{
    font-size: 18px;
    color: #64748b;
}

.search_box input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
    color: #0f172a;
}
.nav_icons{
    display: flex;
    gap: 20px;
}

.nav_icons i{
    font-size: 20px;
    color: #f8fafc;
    cursor: pointer;
    transition: 0.3s;
}

.nav_icons i:hover{
    color: #38bdf8;
    transform: scale(1.2);
}
#mid-content{
    position: absolute;
    height: 70%;
    width: 60%;
    /* background-color: #38bdf8; */
    margin-left: 150px;
    margin-top: 150px;
    
}
#mid-content h1{
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    animation: titleFade 1.2s ease-out forwards;
}
#mid-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: white;
    margin-top: 2vw;
    opacity: 0;
    animation: textFade 1.4s ease-out forwards;
    animation-delay: 0.4s;
}
@keyframes titleFade{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }
    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes textFade{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
#side-content{
    position: absolute;
    top: 200px;
    left: 900px;
    width: 25%;
    height: 40%;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    color: #0f172a;
    font-family: Arial, Helvetica, sans-serif;
    transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
    border-radius: 18px;
}
#side-content:hover{
   transform: translateY(-8px) scale(1.05);
    box-shadow: 
        0 15px 30px rgba(0,0,0,0.25),
        0 0 25px rgba(56,189,248,0.4); /* soft glow */
    background: linear-gradient(
        135deg,
        rgba(47, 68, 77, 0.95),
        rgba(227, 227, 246, 0.95)
    );
}
#side-content h2{
    font-size: 1.5vw;
    margin-bottom: 10px;
    margin-left: 20px;
}

#side-content h1{
    font-size: 3vw;
    margin: 5px 0;
    margin-left: 20px;
}

#side-content p{
    font-size: 1vw;
    margin: 2px 0;
    margin-left: 20px;
}

#weatherIcon img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}
